.navbarContainer {
    position: fixed;
    
    background: linear-gradient(var(--white), var(--backgroud));
    
    height: 100vh;
    width: 7rem;
}

.navbarContainer .logo {
    position: fixed;
    padding: 2rem;
}

.navbarContainer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.navbarContainer button {
    display: block;
    width: 100%;
    height: 3.5rem;
    margin-bottom: 11px;

    background: transparent;
    border: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    font-size: 0;
    color: var(--text);
    opacity: 0.5;
    
}

.navbarContainer button:hover {
    border-left: 4px solid var(--text);
    border-right: 4px solid transparent;
}

.navbarContainer .container button.active, .navbarContainer .container button:active {
    border-left: 4px solid var(--blue);
    border-right: 4px solid transparent;
    color: var(--blue);
    opacity: 1;
}

.content {
    margin-left: 7rem;
}